name: Tests

on: [push, pull_request]

jobs:
  test:
    name: Ruby ${{ matrix.versions.ruby }}, Rails ${{ matrix.versions.rails }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions:
          - { ruby: "2.7", rails: "6.0.x" }
          - { ruby: "3.0", rails: "6.0.x" }
          - { ruby: "2.7", rails: "6.1.x" }
          - { ruby: "3.0", rails: "6.1.x" }
          - { ruby: "3.1", rails: "6.1.x" }
          - { ruby: "2.7", rails: "7.0.x" }
          - { ruby: "3.0", rails: "7.0.x" }
          - { ruby: "3.1", rails: "7.0.x" }
          - { ruby: "3.2", rails: "7.0.x" }
          - { ruby: "2.7", rails: "7.1.x" }
          - { ruby: "3.0", rails: "7.1.x" }
          - { ruby: "3.1", rails: "7.1.x" }
          - { ruby: "3.2", rails: "7.1.x" }
          - { ruby: "2.7", rails: "head" }
          - { ruby: "3.0", rails: "head" }
          - { ruby: "3.1", rails: "head" }
          - { ruby: "3.2", rails: "head" }

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.versions.rails }}.gemfile
    steps:
    - uses: actions/checkout@v3

    - name: Update gemspec to test in head version
      if: matrix.versions.rails == 'head'
      run: |
        sed -i -e 's/, "< 7.1"//g' dekorator.gemspec

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.versions.ruby }}
        bundler-cache: true

    - name: Test with Rake
      run: |
        bundle exec rake test
